*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

:root{

    --header-height: 4.5rem;

    --hue: 200;
    --base-color: hsl(var(--hue) 83% 63%);
    --base-color-second: hsl(var(--hue) 22% 83%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
    

    /* ------- FONTS -------*/

    --title-font-size: 1.875rem;

}

html{
    scroll-behavior: smooth;
}

body{
    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title{
    font: 100 var(--title-font-size) 'Poppins', sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button{
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 2rem;
    border-radius: 0.25rem;
    transition: background 0.3s;
}

.button:hover{
    background: var(--base-color-alt);
}

.divider-1{
    height: 1px;
    background: linear-gradient(
        270deg, 
        hsla(var(--hue), 36%, 57%, 1) 0%,
        hsla(var(--hue), 65%, 88%, 0.34) 100%
    );
}

#header{
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 2rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-color);
    width: 100%;
}

nav{
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav.show ul.grid{
    gap: 4rem;
}

.toggle{
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
}

nav .close{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 1.5rem;
}

nav.show div.close{
    visibility: visible;
    opacity: 1;
}

nav ul li{
    text-align: center;
}

nav ul li a{
    transition: color 0.3s;
    position: relative;
}

nav ul li a:hover{
    color: var(--base-color);
}


nav ul li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

nav .menu{
    opacity: 0;
    visibility: hidden;
}

nav.show .menu{
    opacity: 1;
    visibility: visible;

    background: var(--body-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}

.logo{
    font: 700 1.31rem 'Poppins', sans-serif;
    color: var(--title-color);
}

.logo span{
    color: var(--base-color);
}

main{
    margin-top: calc(var(--header-height) + 2rem);
}

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 2rem;
}

.section{
    padding: calc(5rem + var(--header-height)) 0;
}

.section .title{
    margin-bottom: 1rem;
}

.section .subtitle{
    font-size: var(--subtitle-font-size);
}

/* ----------------HOME-------------*/

#home{
    overflow: hidden;
}

#home .container{
    margin: 0;
}

#home .image{
    position: relative;
}

#home .image::before{
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
}

#home .image img{
    position: relative;
    right: 2.93rem;
    width: 25rem;
}

.headshot, 
#home .image::before{
    border-radius: 2rem;
}

#home .text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#home .text h1, #home .text h2{
    margin-bottom: 1rem;
}

#home .text h3{
    margin-bottom: 2rem;
}

.text-title{
    font-size: 1.5rem;
    color: black;
}

.text-name{
    font-size: 4rem;
    color: black;
}

.text-info{
    font-size: 1.5rem;
    color: black;
}

.typing{
    color: var(--base-color);
}

/* ------------------SOBRE------------------------- */

#about{
    background: white;
}

#about .container{
    margin: 0;
}

#about .image img{
    position: relative;
    justify-content: center;
    border-radius: 100px;
}

#about .text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#about .text h1{
    margin-bottom: 1rem;
}

#about .text p{
    margin-bottom: 2rem;
}

.divider-2{
    height: 1px;
    background: linear-gradient(
        -270deg, 
        hsla(var(--hue), 36%, 57%, 1) 0%,
        hsla(var(--hue), 65%, 88%, 0.34) 100%
    );
}

.foto-teaml{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
    position: relative;
    justify-content: center;
}

#projects .projects{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

/*--------- projects tem que ajustar a largura na tela, para tentar consertar o tamanho do carrosel (talvez)---------*/

#contacts .contacts{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#contacts .sociais{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
    display: grid;
    font-size: 3rem;
}

#contacts .sociais ul a{
    text-decoration: none;
    color: var(--base-color);
}

/*----------- Projetos -------------*/

.swiper {
    width: 600px;
    height: 300px;
  }


.project-image{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.project-title{
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.5rem;
    color: black;
}

.project-title .link{
    color: black;
}

/*----------- Responsivo ------------*/

@media screen and (min-width: 375px) {
    .foto-perfil{
        width: 13rem;
        margin-left: 5rem;
    }

    #home .image img {
        width: 22rem;
        margin-left: 3.5rem;
    }
    
    #home .image::before{
        width: 75%;
    }

    .text-title{
        font-size: 1rem;
    }
    
    .text-name{
        font-size: 2.5rem;
    }

    .text-info{
        font-size: 1rem;
    }

    .projects{
        max-width: 90vw;
    }

    .swiper{
        max-width: 80vw;
    }
}

@media screen and (min-width: 765px){
    #home .image img {
        width: 28rem;
        margin-left: 11rem;
    }

    #home .image::before{
        width: 65%;
        left: 25%;
    }

    .perfil{
        display: flex;
        justify-content: center;
    }

    .foto-perfil{
        width: 50%;
    }
}

@media screen and (min-width: 1024px){
    #home .image img {
        width: 28rem;
        margin-left: 20rem;
    }

    #home .image::before{
        width: 45%;
        left: 38%;
    }

    .perfil{
        display: flex;
        justify-content: center;
    }

    .foto-perfil{
        width: 50%;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 10rem 0;
    }

    nav .menu{
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu ul{
        display: flex;
        gap: 2rem;
    }

    nav .menu ul li a.title{
        font: 700 1rem 'Poppins', sans-serif;
    }

    nav .toggle{
        display: none;
    }

    #home .container{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    #home .image{
        order: 1;
    }

    #home .text{
        order: 0;
        max-width: 30rem;
        text-align: left;
    }

    #about .container{
        margin: 0 auto;
        grid-auto-flow: column;
    }
    
    main{
        margin-top: (var(--header-height);
    }
}

@media (min-width: 992px) {
    :root{
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1rem;
    }
}